.modal{
    border: 1px solid black;
    background-color: white;
    position: absolute; 
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
  }
  .close{
    margin-left: auto;
    padding: 5px;
    cursor: pointer;
  }
  svg{
    width: 25px;
    height: 25px;
  }
  svg:hover{
    color: red;
  }
  .row{
    font-weight: 600;
  }
  label{
    display: flex;
    width: 100%;
    gap: 5px;
  }