.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.modal{
  border: 1px solid red;
  background-color: black;
  position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
}
.close{
  margin-left: auto;
  padding: 5px;
  cursor: pointer;
}
svg{
  width: 25px;
  height: 25px;
}
svg:hover{
  color: red;
}
.row{
  padding: 10px;
}

